.btnJav:disabled {
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    color: #aaa;
    border: none;
    cursor: auto;
}

.btnJav {
    background-color: #FE628E;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 6px 14px;
    cursor: pointer;
    position: relative
}

.tooltipJav {
    display: none;
    position: absolute;
    background-color: #FE628E;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 16px;
    z-index: 9999;
    margin:auto;
    opacity: 0.8;
    width: max-content;
    left: 50%;
    transform: translate(-50%, -210%);  
}