.btnJav:disabled {
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    color: #aaa;
    border: none;
    cursor: auto;
}

.btnJav {
    background-color: #FE628E;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 6px 14px;
    cursor: pointer;
    position: relative;
    margin: 0px 5px 5px 0px;
}

.btnJav[data-state="error"]{
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    border-radius: 20px;
    color: purple;
    border: none;
    cursor: auto;
}

.tooltipJav {
    display: none;
    position: absolute;
    background-color: #FE628E;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 16px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 
              0 2px 2px 0 rgba(0,0,0,.14), 
              0 1px 5px 0 rgba(0,0,0,.12);
    z-index: 9999;
    margin:auto;
    opacity: 0.95;
    width: max-content;
    left: 50%;
    transform: translate(-50%, -210%);  
}
.tooltipJav[data-state="error"] {
    background-color: purple;
}

.spinner {
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-top-color: #FE628E;
    animation: spin 1s ease-in-out infinite;
    display: inline-block;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}